/* .container {
  padding: 40px;
} */

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.logo {
  background: url("./logo.svg") center center no-repeat;
  width: 100px;
  height: 100px;
}

.hamburger-menu {
  /* background: url("./burger-menu.png");
  width: 10px;
  height: 10px; */
}

.burger-icon {
  background: url("./burger-menu.png");
  background-size: cover;
  border: none;
  width: 40px;
  height: 40px;
  margin: 20px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 3rem;
}
